/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import "~bootstrap/dist/css/bootstrap.min.css";
a {
  color: #0366d6;
}
.body-s{
  background-color: #cef4a4;
  padding:10px;
}
.text-s{
  color: rgb(206, 49, 75);
}
.box {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.box{
  padding: 10px;
  background-color: rgb(215, 249, 249);
}
.box2{
  padding: 10px;
  background-color: rgb(217, 239, 95);
}

#tables {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tables td, #tables th {
  border: 1px solid #7bbdef;
  padding: 8px;
}
