<header>
        <div class="container p-4 bg-success">
          <div class="d-flex justify-content-between flex-row align-items-center">
            <div>
              <h4>Angular Project</h4>
            </div>
            </div>
            </div>
</header>          
<body class="body-s">
          <h1 style="text-align: center;color: blue;">Welcome to the Jobs portal</h1>
        <div class="container">
                 <div class="nav nav-tabs d-flex" id="nav-tab" role="tablist">
                        <a class="w-100 nav-item nav-link" routerLink="/tab1" routerLinkActive="active"
                          style="flex: 1">Home</a>
                        <a class="w-100 nav-item nav-link" routerLink="/tab2" routerLinkActive="active"
                          style="flex: 1">About</a>
                          <a class="w-100 nav-item nav-link" routerLink="/profile" routerLinkActive="active"
                          style="flex: 1">Profile</a>
                        <a class="w-100 nav-item nav-link" routerLink="/tab3" routerLinkActive="active"
                          style="flex: 1">Search Jobs</a>
                        <a class="w-100 nav-item nav-link" routerLink="/tab4" routerLinkActive="active"
                          style="flex: 1">Contact us</a>
                          </div>
                          
        </div>
        
              
  
