<div>
<h3 style="background-color:deeppink;color: aliceblue;"><marquee>Know more about us..</marquee></h3>
</div>
<div class="container-fluid">
    <p>
        This portal helps unemployees to find the suitable jobs, that match with your skills.
        And its also provides an option to filter the jobs according to the skills, location  and experience level.
    </p>
    

    <img src="assets/job.jfif" alt="Centered Image" class="mx-auto" style="display:flex;height: 250px;width:500px;">
    

</div>