<h3>welcome to contact us page</h3>
<code>Call our customer support</code>
<table class="table">
    <thead>
        <tr>
        <th>Country</th>
        <th>Phone No.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td> India</td>
        <td><a href="tel:+91 2345678909">+91 2345678909</a></td>
        </tr>
        <tr>
        <td> Germany</td>
        <td><a href="tel:+1 2345678909">+1 2345678909</a></td>
        </tr>
        <tr>
            <td>Japan</td>
            <td><a href="tel:+81 5673450897">+81 5673450897</a></td>
        </tr>
        <tr>
            <td>Italy</td>
            <td><a href="tel:+39 78635345297">+39 78635345297</a></td>
        </tr>
        <tr>
            <td>US</td>
            <td><a href="tel:+1 76546548928">+1 765465489289</a></td>
        </tr>
    </tbody>
</table>